@-webkit-keyframes button-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-140rem) translateY(-20rem) rotate(360deg);
            transform: translateX(-140rem) translateY(-20rem) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes button-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-140rem) translateY(-20rem) rotate(360deg);
            transform: translateX(-140rem) translateY(-20rem) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes logo-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(140rem) translateY(-20rem) rotate(360deg);
            transform: translateX(140rem) translateY(-20rem) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes logo-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(140rem) translateY(-20rem) rotate(360deg);
            transform: translateX(140rem) translateY(-20rem) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes lists-move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes lists-move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes heading-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(140rem) translateY(50rem) rotate(360deg);
            transform: translateX(140rem) translateY(50rem) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes heading-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(140rem) translateY(50rem) rotate(360deg);
            transform: translateX(140rem) translateY(50rem) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes para-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-140rem) translateY(50rem) rotate(360deg);
            transform: translateX(-140rem) translateY(50rem) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes para-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-140rem) translateY(50rem) rotate(360deg);
            transform: translateX(-140rem) translateY(50rem) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes dashed-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70rem) translateY(-20rem);
            transform: translateX(-70rem) translateY(-20rem);
  }
  25% {
    -webkit-transform: translateX(-70rem) translateY(10rem) rotate(360deg);
            transform: translateX(-70rem) translateY(10rem) rotate(360deg);
  }
  50% {
    -webkit-transform: translateX(-6rem) translateY(10rem) rotate(360deg);
            transform: translateX(-6rem) translateY(10rem) rotate(360deg);
  }
  75% {
    -webkit-transform: translateX(0rem) translateY(0rem);
            transform: translateX(0rem) translateY(0rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes dashed-move {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70rem) translateY(-20rem);
            transform: translateX(-70rem) translateY(-20rem);
  }
  25% {
    -webkit-transform: translateX(-70rem) translateY(10rem) rotate(360deg);
            transform: translateX(-70rem) translateY(10rem) rotate(360deg);
  }
  50% {
    -webkit-transform: translateX(-6rem) translateY(10rem) rotate(360deg);
            transform: translateX(-6rem) translateY(10rem) rotate(360deg);
  }
  75% {
    -webkit-transform: translateX(0rem) translateY(0rem);
            transform: translateX(0rem) translateY(0rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body .container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #FFF;
  line-height: 2.8rem;
}

.btn {
  background-color: transparent;
  border-radius: 10rem;
  font-family: inherit;
  font-size: inherit;
  padding: 1.1rem 3.05rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  -webkit-animation: button-move 1s linear;
          animation: button-move 1s linear;
}

.btn:focus {
  outline: none;
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btn-light {
  color: #FFF;
  border: 2px solid #FFF;
}

.btn-light:hover {
  background-color: #FFF;
  color: #002529;
}

@media screen and (max-width: 1050px) {
  .btn-light {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 770px) {
  .btn-light {
    padding: 0.5rem 1.8rem;
  }
}

@media screen and (max-width: 560px) {
  .btn-light {
    display: none;
  }
}

.btn-dark {
  color: #012F34;
  border: 2px solid #012F34;
  -webkit-animation: none;
          animation: none;
}

.btn-dark:hover {
  background-color: #012F34;
  color: #FFF;
}

.stories {
  background-color: #004047;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-pattern-home-4-about-3.svg"), url("../images/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.stories .wrapper {
  text-align: center;
  padding: 14rem 16rem 14.4rem;
}

@media screen and (max-width: 1130px) {
  .stories .wrapper {
    padding: 12rem 10rem 0 10rem;
  }
}

@media screen and (max-width: 560px) {
  .stories .wrapper {
    padding: 12rem 1.5rem 0 1.5rem;
  }
}

.stories .wrapper__heading {
  font-size: 4.8rem;
  line-height: 4.8rem;
}

@media screen and (max-width: 1050px) {
  .stories .wrapper__heading {
    font-size: 4.4rem;
  }
}

@media screen and (max-width: 770px) {
  .stories .wrapper__heading {
    font-size: 3.2rem;
  }
}

.stories .wrapper__cards {
  background-image: url("../images/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.stories .wrapper__cards:not(:lastChild) {
  margin-right: 4rem;
}

@media screen and (max-width: 1050px) {
  .stories .wrapper__cards {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 560px) {
  .stories .wrapper__cards {
    margin-bottom: 3rem;
  }
}

.stories .wrapper .s-stories {
  color: #79C8C7;
}

.stories .wrapper__cards-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 9.25rem;
}

@media screen and (max-width: 1050px) {
  .stories .wrapper__cards-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 9rem 10rem;
  }
}

@media screen and (max-width: 770px) {
  .stories .wrapper__cards-holder {
    padding: 9rem 0;
  }
}

@media screen and (max-width: 560px) {
  .stories .wrapper__cards-holder {
    margin-right: 0;
    padding: 9rem 0 7rem;
  }
}

.stories .wrapper__quotes {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.stories .wrapper__names {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #79C8C7;
  margin-top: 2.4rem;
}

.stories .wrapper__designation {
  font-size: 1.27rem;
  line-height: 1.8rem;
  color: #FFF;
  margin: 0.25rem 0 1rem 0.2rem;
}

.stories .wrapper__user {
  display: block;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #C4FFFE;
  margin: 2rem auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.stories .wrapper__user:hover {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
  -webkit-box-shadow: 0 1rem 5rem rgba(196, 255, 254, 0.4);
          box-shadow: 0 1rem 5rem rgba(196, 255, 254, 0.4);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35rem;
  height: 25.3rem;
  margin-right: 3rem;
  position: relative;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 770px) {
  .card {
    width: 28.1rem;
  }
}

@media screen and (max-width: 770px) {
  .card {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

.card__picture {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #C4FFFE;
  margin: 3.1rem auto 1.9rem;
}

.card__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__side:hover {
  -webkit-box-shadow: 1px 2px 51px -5px rgba(121, 200, 199, 0.5);
          box-shadow: 1px 2px 51px -5px rgba(121, 200, 199, 0.5);
  cursor: pointer;
}

.card__side-front {
  background-color: #012F34;
}

.card__side-back {
  background-color: #012F34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 4rem;
}

.card .show-front {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card .hide-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card .show-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card .hide-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__name {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #79C8C7;
}

.card__designation {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFF;
  font-style: italic;
}

.card__btn-about {
  display: block;
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  background-image: url("../images/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  bottom: -2.4rem;
  left: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card .btn-more {
  background-color: #F67E7E;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card .btn-back {
  background-color: #79C8C7;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.card__heading {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #79C8C7;
  margin-bottom: 2rem;
}

.card__quote {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.card__social-icons a {
  margin-right: 1rem;
  color: #FFF;
}

.card__social-icons a :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-3,
.card-6 {
  margin-right: 0;
}

@media screen and (max-width: 1203px) {
  .card-3,
  .card-6 {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 635px) {
  .card-2 {
    margin-top: 7.5rem;
  }
}

@media screen and (max-width: 1203px) {
  .card-3 {
    margin-top: 7.5rem;
  }
}

.card-4, .card-5, .card-6 {
  margin-top: 7.5rem;
}

@media screen and (max-width: 656px) {
  .card-2, .card-4, .card-6 {
    margin-right: 0;
  }
}

@media screen and (max-width: 560px) {
  .card-2, .card-4, .card-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 770px) {
  .card-1, .card-3, .card-5 {
    margin-right: 0;
  }
}

@media screen and (max-width: 560px) {
  .card-1, .card-3, .card-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

.ham-menu {
  position: fixed;
  right: -50rem;
  width: 30rem;
  height: 100vh;
  background-color: #2C6269;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 4.8rem;
  margin-top: 7.3rem;
  padding: 0 9.1rem;
}

.user-nav .hamburger {
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 560px) {
  .user-nav .hamburger {
    display: block;
  }
}

@media screen and (max-width: 1130px) {
  .user-nav {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 770px) {
  .user-nav {
    padding: 0;
    margin-top: 4rem;
  }
}

.user-nav .logo {
  margin-top: 1rem;
  width: 15.995rem;
  height: 4rem;
  -webkit-animation: logo-move 1s linear;
          animation: logo-move 1s linear;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .user-nav .logo {
    width: 13.5rem;
    height: 3.2rem;
  }
}

.user-nav .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 8rem;
  -webkit-animation: lists-move 1.5s ease-out 1s;
          animation: lists-move 1.5s ease-out 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media screen and (max-width: 770px) {
  .user-nav .nav-list {
    font-size: 1.6rem;
    margin-left: 7rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .user-nav .nav-list {
    display: none;
  }
}

.user-nav .nav-list__item:not(:last-child) {
  margin-right: 4.1rem;
}

.user-nav .nav-list__item {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.user-nav .nav-list__item:hover {
  color: #F67E7E;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 37, 41, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 37, 41, 0.4);
  -webkit-transform: rotate(-5deg) scale(1.15);
          transform: rotate(-5deg) scale(1.15);
}

.user-nav .nav-list__link {
  text-decoration: none;
  color: inherit;
  background-color: #014E56;
}

.cta {
  background-color: #F67E7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/bg-pattern-home-6-about-5.svg");
  background-repeat: no-repeat;
  background-position: left 0 bottom -2rem;
  background-size: 20rem;
}

.cta .cta-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 7.6rem 0 7.47rem 0.4rem;
}

@media screen and (max-width: 1050px) {
  .cta .cta-box {
    padding: 8rem 0 8rem 0.4rem;
  }
}

@media screen and (max-width: 770px) {
  .cta .cta-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 560px) {
  .cta .cta-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cta .cta-box__heading {
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: #012F34;
  margin-right: 26rem;
}

@media screen and (max-width: 1050px) {
  .cta .cta-box__heading {
    margin-right: 10rem;
    font-size: 4.4rem;
  }
}

@media screen and (max-width: 770px) {
  .cta .cta-box__heading {
    font-size: 3.2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 560px) {
  .cta .cta-box__heading {
    font-size: 3.2rem;
    margin-bottom: 4rem;
    margin-right: 0;
    text-align: center;
  }
}

.cta .cta-btn {
  padding: 0.8rem 3.1rem;
}

@media screen and (max-width: 770px) {
  .cta .cta-btn {
    padding: 0.8rem 2.1rem;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14rem 16.5rem;
}

@media screen and (max-width: 1204px) {
  .clients {
    padding: 14rem 8.5rem;
  }
}

@media screen and (max-width: 1050px) {
  .clients {
    padding: 14rem 5rem;
  }
}

@media screen and (max-width: 560px) {
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10rem 1.5rem;
  }
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__heading {
  font-size: 4.8rem;
  line-height: 4.8rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 770px) {
  .clients__heading {
    font-size: 3.2rem;
  }
}

.clients__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1050px) {
  .clients__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__logo {
  margin-top: 2.8rem;
  width: 16rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 1050px) {
  .clients__logo {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 770px) {
  .clients__logo {
    width: 14rem;
  }
}

@media screen and (max-width: 560px) {
  .clients__logo {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;
  }
}

.clients__logo:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
}

.clients .logo-gadgets {
  width: 11rem;
}

.footer {
  background-color: #002529;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 4.8rem 16.5rem 5rem 16.45rem;
}

@media screen and (max-width: 1130px) {
  .footer-container {
    padding: 4.8rem 8.5rem 5rem 8.45rem;
  }
}

@media screen and (max-width: 1050px) {
  .footer-container {
    padding: 4.8rem 8rem 4.5rem 7.95rem;
  }
}

@media screen and (max-width: 770px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 4.8rem 6rem 4.5rem 3.95rem;
  }
}

@media screen and (max-width: 560px) {
  .footer-container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 0 3rem 0;
  }
}

.footer-container__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 12.5rem;
}

@media screen and (max-width: 560px) {
  .footer-container__logo-box {
    margin-right: 0;
  }
}

.footer-container__logo {
  cursor: pointer;
  margin-bottom: 2rem;
}

@media screen and (max-width: 770px) {
  .footer-container__logo {
    width: 13.5rem;
    height: 3.5rem;
  }
}

.footer-container .footer-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 770px) {
  .footer-container .footer-list {
    font-size: 1.5rem;
  }
}

.footer-container .footer-list__item:not(:last-child) {
  margin-right: 4rem;
}

.footer-container .footer-list__item {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.footer-container .footer-list__item:hover {
  color: #F67E7E;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
}

.footer-container .footer-list__link {
  text-decoration: none;
  color: inherit;
  background-color: #002529;
}

.footer-container__address {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-right: auto;
}

@media screen and (max-width: 1050px) {
  .footer-container__address {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 770px) {
  .footer-container__address {
    margin-right: 4rem;
    text-align: right;
  }
}

@media screen and (max-width: 560px) {
  .footer-container__address {
    margin-right: 0;
    text-align: center;
    margin-top: 2rem;
  }
}

.footer-container__social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 770px) {
  .footer-container__social-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 560px) {
  .footer-container__social-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
}

.footer-container__socialicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container__socialicons .icons {
  font-size: 2.5rem;
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 560px) {
  .footer-container__socialicons .icons {
    font-size: 2rem;
  }
}

.footer-container__socialicons .icons:hover {
  color: #F67E7E;
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}

.footer-container__socialicons .icons:not(:last-child) {
  margin-right: 1.6rem;
}

.footer-container__copy {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

@media screen and (max-width: 1050px) {
  .footer-container__copy {
    padding-left: 9rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 560px) {
  .footer-container__copy {
    padding-left: 0;
    margin-top: 1.2rem;
    text-align: center;
  }
}

.header {
  background-color: #014E56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.header .content {
  padding: 12.9rem 16.6rem 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-pattern-home-1.svg"), url("../images/bg-pattern-home-2.svg");
  background-repeat: no-repeat;
  background-position: top 12.9rem left -9.9rem, bottom right 16.45rem;
}

@media screen and (max-width: 1130px) {
  .header .content {
    padding: 12.9rem 10rem 25rem;
  }
}

@media screen and (max-width: 1050px) {
  .header .content {
    background-position: top 5rem left -8rem, bottom right 8rem;
    background-size: 15rem, 27rem;
    padding: 12.9rem 8rem 18rem;
  }
}

@media screen and (max-width: 770px) {
  .header .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../images/bg-pattern-home-2.svg");
    background-repeat: no-repeat;
    background-size: 35.8rem;
    background-position: bottom right 16.45rem;
  }
}

@media screen and (max-width: 560px) {
  .header .content {
    padding: 8rem 1rem 10rem;
    background-image: url("../images/bg-pattern-home-2.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}

.header .content__heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  font-size: 10rem;
  line-height: 10rem;
  -webkit-animation: heading-move 1s ease;
          animation: heading-move 1s ease;
}

@media screen and (max-width: 1050px) {
  .header .content__heading {
    font-size: 8rem;
  }
}

@media screen and (max-width: 770px) {
  .header .content__heading {
    font-size: 6.4rem;
    text-align: center;
    line-height: 5.6rem;
  }
}

@media screen and (max-width: 560px) {
  .header .content__heading {
    font-size: 4rem;
  }
}

.header .content__heading-coral {
  color: #F67E7E;
}

.header .content__para-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

@media screen and (max-width: 1050px) {
  .header .content__para-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 770px) {
  .header .content__para-div {
    text-align: center;
    padding: 0 4rem;
  }
}

@media screen and (max-width: 560px) {
  .header .content__para-div {
    padding: 0 1rem 15rem;
  }
}

.header .content__dashed {
  width: 4.95rem;
  height: 0.35rem;
  background-color: #79C8C7;
  -webkit-animation: dashed-move 3s ease;
          animation: dashed-move 3s ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media screen and (max-width: 1050px) {
  .header .content__dashed {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 770px) {
  .header .content__dashed {
    display: none;
  }
}

.header .content__para {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  -webkit-animation: para-move 1s ease;
          animation: para-move 1s ease;
}

@media screen and (max-width: 1050px) {
  .header .content__para {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 770px) {
  .header .content__para {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

.main-section {
  background-color: #012F34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-position: bottom right -10rem;
}

@media screen and (max-width: 1050px) {
  .main-section {
    background-position: bottom right -7.9rem;
    background-size: 16rem;
  }
}

@media screen and (max-width: 770px) {
  .main-section {
    background-position: top right -10rem;
    background-size: 20rem;
  }
}

.main-section__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12rem 16.5rem 14rem;
}

@media screen and (max-width: 1130px) {
  .main-section__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1050px) {
  .main-section__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 770px) {
  .main-section__holder {
    padding: 12rem 10.5rem 10rem;
  }
}

@media screen and (max-width: 560px) {
  .main-section__holder {
    padding: 5rem 1.5rem 10rem;
  }
}

.main-section .heading-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.main-section .heading-wrapper__dashed {
  width: 4.95rem;
  height: 0.35rem;
  background-color: #F67E7E;
  margin: 2rem 0;
}

.main-section .heading-wrapper__heading {
  font-size: 4.8rem;
  color: inherit;
  line-height: 4.8rem;
  margin-top: 5.5rem;
}

@media screen and (max-width: 770px) {
  .main-section .heading-wrapper__heading {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}

@media screen and (max-width: 560px) {
  .main-section .heading-wrapper {
    padding-right: 5rem;
  }
}

.main-section .features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 12.5rem;
  font-family: inherit;
}

@media screen and (max-width: 1050px) {
  .main-section .features-list {
    margin-left: 0;
  }
}

.main-section .features-list__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 560px) {
  .main-section .features-list__feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.main-section .features-list__f1 {
  margin-top: 7.2rem;
}

.main-section .features-list__f2 {
  margin-top: 2.7rem;
}

.main-section .features-list__f3 {
  margin-top: 2.7rem;
}

.main-section .features-list .icon-person {
  margin: 0.55rem 2rem 0 0.75rem;
}

.main-section .features-list .icon-cog {
  margin: 0.55rem 1.9rem 0 0.1rem;
}

.main-section .features-list .icon-chart {
  margin: 0.55rem 1.9rem 0 0.1rem;
}

.main-section .features-list__content {
  margin-left: 0.37rem;
}

.main-section .features-list__heading {
  font-size: 1.8rem;
  color: #F67E7E;
  margin: 0.55rem 0;
}

.main-section .features-list__para {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFF;
  margin-top: 1.6rem;
}

.header-about {
  background-color: #014E56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  padding: 12rem 16.6rem 11.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
  background-repeat: no-repeat;
  background-position: bottom 0 right -10rem;
}

@media screen and (max-width: 1050px) {
  .about {
    padding: 12rem 10.5rem 11.5rem;
  }
}

@media screen and (max-width: 850px) {
  .about {
    padding: 12rem 5.5rem 11.5rem;
  }
}

@media screen and (max-width: 770px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 12rem 8.5rem 11.5rem;
  }
}

@media screen and (max-width: 560px) {
  .about {
    padding: 7rem 1.5rem 10.5rem;
    background-position: bottom -10rem right -10rem;
  }
}

.about__heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34.3%;
          flex: 0 0 34.3%;
  font-size: 6.4rem;
  line-height: 10rem;
  -webkit-animation: none;
          animation: none;
}

@media screen and (max-width: 560px) {
  .about__heading {
    font-size: 4rem;
  }
}

.about__para-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

@media screen and (max-width: 560px) {
  .about__para-div {
    font-size: 1.5rem;
  }
}

.about__dashed {
  margin-bottom: 4rem;
  width: 4.95rem;
  height: 0.4rem;
  background-color: #F67E7E;
  -webkit-animation: none;
          animation: none;
}

@media screen and (max-width: 770px) {
  .about__dashed {
    display: none;
  }
}

.about__para {
  margin-bottom: 0.5rem;
  -webkit-animation: none;
          animation: none;
}

.about-nav-btn {
  -webkit-animation: none;
          animation: none;
}

#about-nav-btn,
#about-nav-list,
#about-nav-logo {
  -webkit-animation: none;
          animation: none;
}

@media screen and (max-width: 1050px) {
  .btn-about {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 770px) {
  .btn-about {
    padding: 0.5rem 1.8rem;
  }
}

.directors {
  padding-top: 14rem;
  background-color: #004047;
  background-image: url("../images/bg-pattern-about-2-contact-1.svg"), url("../images/bg-pattern-home-4-about-3.svg");
  background-repeat: no-repeat;
  background-position: top left -10rem, bottom right;
}

@media screen and (max-width: 560px) {
  .directors {
    background-position: top -10rem left -10rem, bottom right;
  }
}

.directors__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.directors__heading {
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: #FFF;
}

@media screen and (max-width: 770px) {
  .directors__heading {
    font-size: 3.2rem;
  }
}

.directors__cards-holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6.5rem;
  padding-bottom: 16.7rem;
}

.clients {
  background-color: #012F34;
  background-image: url("../images/bg-pattern-about-4.svg");
  background-repeat: no-repeat;
  background-position: top 0 left 0;
}

@media screen and (max-width: 560px) {
  .clients {
    background-position: top -10rem left -10rem;
  }
}

.header-contact {
  padding-bottom: 12rem;
  background-color: #014E56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-pattern-contact-2.svg"), url("../images/bg-pattern-about-2-contact-1.svg");
  background-repeat: no-repeat;
  background-position: bottom 0.2rem right -10rem, top 24.5rem left -10rem;
}

@media screen and (max-width: 560px) {
  .header-contact {
    background-image: url("../images/bg-pattern-contact-2.svg");
    background-repeat: no-repeat;
    background-position: bottom 0.2rem right -10rem;
  }
}

#contact-nav-btn,
#contact-nav-list,
#contact-nav-logo {
  -webkit-animation: none;
          animation: none;
}

.contact {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12rem 16rem 0;
}

@media screen and (max-width: 1130px) {
  .contact {
    padding: 12rem 10rem 0;
  }
}

@media screen and (max-width: 850px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 770px) {
  .contact {
    padding: 12rem 6rem 0;
  }
}

@media screen and (max-width: 560px) {
  .contact {
    padding: 7rem 1rem 5rem;
  }
}

.contact .ask {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .contact .ask {
    width: 100%;
  }
}

.contact .ask__heading {
  font-size: 6.4rem;
  margin-top: 3.6rem;
}

@media screen and (max-width: 850px) {
  .contact .ask__heading {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .contact .ask__heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 850px) {
  .contact .ask__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact .ask__heading-2 {
  font-size: 3.2rem;
  margin-top: 6.15rem;
  color: #F67E7E;
}

@media screen and (max-width: 560px) {
  .contact .ask__heading-2 {
    margin-top: 2rem;
  }
}

.contact .ask__list {
  margin: 4.2rem 0 0 0.7rem;
}

.contact .ask__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  list-style: none;
}

.contact .ask__item:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (max-width: 850px) {
  .contact .ask__item:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.contact .ask__ico {
  margin-right: 2.3rem;
}

.contact__form-section {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .contact__form-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 8rem;
  }
}

.contact .form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.contact .form__input {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  font-family: inherit;
  color: inherit;
  border-bottom: 1px solid #79C8C7;
  width: 90%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 auto;
}

.contact .form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #7ed56f;
}

.contact .form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.contact .form__input::-webkit-input-placeholder {
  color: #999;
}

.contact .form__input:-ms-input-placeholder {
  color: #79C8C7;
}

.contact .form__input::-ms-input-placeholder {
  color: #79C8C7;
}

.contact .form__input::placeholder {
  color: #79C8C7;
}

.contact .form__label {
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 1.5rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .form .form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.contact .submit-btn {
  margin-left: 2.5rem;
  -webkit-animation: none;
          animation: none;
}

@media screen and (max-width: 1050px) {
  .btn-contact {
    padding: 1.1rem 3.5rem;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 770px) {
  .btn-contact {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 560px) {
  .btn-contact {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .submit-btn {
    display: inline-block;
  }
}
/*# sourceMappingURL=main.css.map */