@keyframes button-move {
  0% {
    opacity: 0;
    transform: translateX(-140rem) translateY(-20rem) rotate(360deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes logo-move {
  0% {
    opacity: 0;
    transform: translateX(140rem) translateY(-20rem) rotate(360deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes lists-move {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  25% {
    transform: translateY(0); }
  50% {
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes heading-move {
  0% {
    opacity: 0;
    transform: translateX(140rem) translateY(50rem) rotate(360deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes para-move {
  0% {
    opacity: 0;
    transform: translateX(-140rem) translateY(50rem) rotate(360deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes dashed-move {
  0% {
    opacity: 0;
    transform: translateX(-70rem) translateY(-20rem); }
  25% {
    transform: translateX(-70rem) translateY(10rem) rotate(360deg); }
  50% {
    transform: translateX(-6rem) translateY(10rem) rotate(360deg); }
  75% {
    transform: translateX(0rem) translateY(0rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body .container {
  width: 94.7%;
  margin: 0 auto; }

body {
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #FFF;
  line-height: 2.8rem; }

.btn {
  background-color: transparent;
  border-radius: 10rem;
  font-family: inherit;
  font-size: inherit;
  padding: 1.1rem 3.05rem;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  animation: button-move 1s linear; }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: translateY(2px); }

.btn-light {
  color: #FFF;
  border: 2px solid #FFF; }
  .btn-light:hover {
    background-color: #FFF;
    color: #002529; }

.btn-dark {
  color: #012F34;
  border: 2px solid #012F34;
  animation: none; }
  .btn-dark:hover {
    background-color: #012F34;
    color: #FFF; }

.stories {
  background-color: #004047;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-home-4-about-3.svg"), url("../images/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right; }
  .stories .wrapper {
    text-align: center;
    padding: 14rem 16rem 14.4rem; }
    @media screen and (max-width: 1130px) {
      .stories .wrapper {
        padding: 12rem 10rem 0 10rem; } }
    .stories .wrapper__heading {
      font-size: 4.8rem;
      line-height: 4.8rem; }
      @media screen and (max-width: 1050px) {
        .stories .wrapper__heading {
          font-size: 4.4rem; } }
      @media screen and (max-width: 770px) {
        .stories .wrapper__heading {
          font-size: 3.2rem; } }
    .stories .wrapper__cards {
      background-image: url("../images/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: top; }
      .stories .wrapper__cards__:not(:last-child) {
        margin-right: 5rem; }
      @media screen and (max-width: 1050px) {
        .stories .wrapper__cards {
          margin-bottom: 2rem; } }
    .stories .wrapper .s-stories {
      color: #79C8C7; }
    .stories .wrapper__cards-holder {
      display: flex;
      justify-content: space-between;
      padding-top: 9.25rem; }
      @media screen and (max-width: 1050px) {
        .stories .wrapper__cards-holder {
          display: flex;
          flex-wrap: wrap;
          padding: 9rem 10rem; } }
      @media screen and (max-width: 770px) {
        .stories .wrapper__cards-holder {
          padding: 9rem 0; } }
    .stories .wrapper__quotes {
      font-size: 1.5rem;
      line-height: 2.5rem; }
    .stories .wrapper__names {
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #79C8C7;
      margin-top: 2.4rem; }
    .stories .wrapper__designation {
      font-size: 1.27rem;
      line-height: 1.8rem;
      color: #FFF;
      margin: 0.25rem 0 1rem 0.2rem; }
    .stories .wrapper__user {
      display: block;
      width: 6.2rem;
      height: 6.2rem;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #C4FFFE;
      margin: 2rem auto;
      transition: all 0.5s;
      cursor: pointer; }
      .stories .wrapper__user:hover {
        transform: scale(1.2) rotate(360deg);
        box-shadow: 0 1rem 5rem rgba(196, 255, 254, 0.4); }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 25.3rem;
  margin-right: 3rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  transition: all 0.5s; }
  .card__picture {
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #C4FFFE;
    margin: 0 auto 1.9rem; }
  .card__side {
    display: flex;
    flex-direction: column;
    transition: all 0.8s ease;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
    .card__side:hover {
      box-shadow: 1px 2px 51px -5px rgba(121, 200, 199, 0.5);
      cursor: pointer; }
  .card__side-front {
    background-color: #012F34; }
  .card__side-back {
    background-color: #012F34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem; }
  .card .show-front {
    transform: rotateY(0); }
  .card .hide-front {
    transform: rotateY(-180deg); }
  .card .show-back {
    transform: rotateY(0); }
  .card .hide-back {
    transform: rotateY(180deg); }
  .card__name {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #79C8C7; }
  .card__designation {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #FFF;
    font-style: italic; }
  .card__btn-about {
    display: block;
    position: absolute;
    width: 5.6rem;
    height: 5.6rem;
    background-image: url("../images/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    bottom: -2.4rem;
    left: 50%;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .card .btn-more {
    background-color: #F67E7E;
    transform: translateX(-50%); }
  .card .btn-back {
    background-color: #79C8C7;
    transform: translateX(-50%) rotate(45deg); }
  .card__heading {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #79C8C7;
    margin-bottom: 2rem; }
  .card__quote {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem; }
  .card__social-icons a {
    margin-right: 1rem;
    color: #FFF; }
    .card__social-icons a :hover {
      transform: scale(1.1); }

.card-3,
.card-6 {
  margin-right: 0; }

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 4.8rem;
  margin-top: 7.3rem;
  padding: 0 9.1rem; }
  @media screen and (max-width: 1130px) {
    .user-nav {
      padding: 0 5rem; } }
  @media screen and (max-width: 770px) {
    .user-nav {
      padding: 0; } }
  .user-nav .logo {
    width: 15.995rem;
    height: 4rem;
    animation: logo-move 1s linear;
    cursor: pointer; }
    @media screen and (max-width: 770px) {
      .user-nav .logo {
        width: 13.5rem;
        height: 3.2rem; } }
  .user-nav .nav-list {
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 8rem;
    animation: lists-move 1.5s ease-out 1s;
    animation-fill-mode: backwards; }
    @media screen and (max-width: 770px) {
      .user-nav .nav-list {
        font-size: 1.6rem;
        margin-left: 7rem;
        margin-bottom: 1rem; } }
    .user-nav .nav-list__item:not(:last-child) {
      margin-right: 4.1rem; }
    .user-nav .nav-list__item {
      transition: transform 0.2s; }
      .user-nav .nav-list__item:hover {
        color: #F67E7E;
        box-shadow: 0 1rem 2rem rgba(0, 37, 41, 0.4);
        transform: rotate(-5deg) scale(1.15); }
    .user-nav .nav-list__link {
      text-decoration: none;
      color: inherit;
      background-color: #014E56; }
  @media screen and (max-width: 1050px) {
    .user-nav .nav-btn {
      padding: 0.5rem 2rem;
      font-size: 1.5rem; } }
  @media screen and (max-width: 770px) {
    .user-nav .nav-btn {
      padding: 0.5rem 1.8rem; } }

.cta {
  background-color: #F67E7E;
  display: flex;
  background-image: url("../images/bg-pattern-home-6-about-5.svg");
  background-repeat: no-repeat;
  background-position: left 0 bottom -2rem;
  background-size: 20rem; }
  .cta .cta-box {
    display: flex;
    margin: auto;
    padding: 7.6rem 0 7.47rem 0.4rem; }
    @media screen and (max-width: 1050px) {
      .cta .cta-box {
        padding: 8rem 0 8rem 0.4rem; } }
    .cta .cta-box__heading {
      font-size: 4.8rem;
      line-height: 4.8rem;
      color: #012F34;
      margin-right: 26rem; }
      @media screen and (max-width: 1050px) {
        .cta .cta-box__heading {
          margin-right: 10rem;
          font-size: 4.4rem; } }
      @media screen and (max-width: 770px) {
        .cta .cta-box__heading {
          font-size: 3.2rem; } }
  .cta .cta-btn {
    padding: 0.8rem 3.1rem; }
    @media screen and (max-width: 770px) {
      .cta .cta-btn {
        padding: 0.8rem 2.1rem; } }

.clients {
  display: flex;
  flex-direction: column;
  padding: 14rem 16.5rem; }
  .clients__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .clients__heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 3rem; }
  .clients__box {
    width: 100%;
    margin-top: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .clients__logo {
    width: 16rem;
    transition: all .3s; }
    .clients__logo:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      transform: rotate(5deg) scale(1.1); }
  .clients .logo-gadgets {
    width: 11rem; }

.footer {
  background-color: #002529; }

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 4.8rem 16.5rem 5rem 16.45rem; }
  @media screen and (max-width: 1130px) {
    .footer-container {
      padding: 4.8rem 8.5rem 5rem 8.45rem; } }
  @media screen and (max-width: 1050px) {
    .footer-container {
      padding: 4.8rem 8rem 4.5rem 7.95rem; } }
  @media screen and (max-width: 770px) {
    .footer-container {
      flex-wrap: wrap;
      padding: 4.8rem 6rem 4.5rem 3.95rem; } }
  .footer-container__logo-box {
    display: flex;
    flex-direction: column;
    margin-right: 12.5rem; }
  .footer-container__logo {
    cursor: pointer;
    margin-bottom: 2rem; }
    @media screen and (max-width: 770px) {
      .footer-container__logo {
        width: 13.5rem;
        height: 3.5rem; } }
  .footer-container .footer-list {
    list-style: none;
    display: flex; }
    @media screen and (max-width: 770px) {
      .footer-container .footer-list {
        font-size: 1.5rem; } }
    .footer-container .footer-list__item:not(:last-child) {
      margin-right: 4rem; }
    .footer-container .footer-list__item {
      transition: transform 0.2s; }
      .footer-container .footer-list__item:hover {
        color: #F67E7E;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        transform: rotate(5deg) scale(1.1); }
    .footer-container .footer-list__link {
      text-decoration: none;
      color: inherit;
      background-color: #002529; }
  .footer-container__address {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-right: auto; }
    @media screen and (max-width: 1050px) {
      .footer-container__address {
        font-size: 1.4rem; } }
    @media screen and (max-width: 770px) {
      .footer-container__address {
        margin-right: 4rem; } }
  .footer-container__social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
    @media screen and (max-width: 770px) {
      .footer-container__social-box {
        display: flex;
        flex-direction: row;
        margin-top: 5rem; } }
  .footer-container__socialicons {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-container__socialicons .icons {
      font-size: 2.5rem;
      color: #FFF;
      text-decoration: none;
      transition: all 0.3s; }
      .footer-container__socialicons .icons:hover {
        color: #F67E7E;
        transform: rotate(360deg) scale(1.2); }
    .footer-container__socialicons .icons:not(:last-child) {
      margin-right: 1.6rem; }
  .footer-container__copy {
    font-size: 1.5rem;
    line-height: 2.5rem; }
    @media screen and (max-width: 1050px) {
      .footer-container__copy {
        padding-left: 9rem;
        font-size: 1.4rem; } }

.header {
  background-color: #014E56;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .header .content {
    padding: 12.9rem 16.6rem 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/bg-pattern-home-1.svg"), url("../images/bg-pattern-home-2.svg");
    background-repeat: no-repeat;
    background-position: top 12.9rem left -9.9rem, bottom right 16.45rem; }
    @media screen and (max-width: 1130px) {
      .header .content {
        padding: 12.9rem 10rem 25rem; } }
    @media screen and (max-width: 1050px) {
      .header .content {
        background-position: top 5rem left -8rem, bottom right 8rem;
        background-size: 15rem, 27rem;
        padding: 12.9rem 8rem 18rem; } }
    @media screen and (max-width: 770px) {
      .header .content {
        display: flex;
        flex-direction: column;
        background-image: url("../images/bg-pattern-home-2.svg");
        background-repeat: no-repeat;
        background-size: 35.8rem;
        background-position: bottom right 16.45rem; } }
    .header .content__heading {
      flex: 0 0 60%;
      font-size: 10rem;
      line-height: 10rem;
      animation: heading-move 1s ease; }
      @media screen and (max-width: 1050px) {
        .header .content__heading {
          font-size: 8rem; } }
      @media screen and (max-width: 770px) {
        .header .content__heading {
          font-size: 6.4rem;
          text-align: center;
          line-height: 5.6rem; } }
    .header .content__heading-coral {
      color: #F67E7E; }
    .header .content__para-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      align-self: stretch; }
      @media screen and (max-width: 1050px) {
        .header .content__para-div {
          justify-content: center; } }
      @media screen and (max-width: 770px) {
        .header .content__para-div {
          text-align: center;
          padding: 0 4rem; } }
    .header .content__dashed {
      width: 4.95rem;
      height: 0.35rem;
      background-color: #79C8C7;
      animation: dashed-move 3s ease;
      animation-fill-mode: backwards; }
      @media screen and (max-width: 1050px) {
        .header .content__dashed {
          margin-bottom: 5rem; } }
      @media screen and (max-width: 770px) {
        .header .content__dashed {
          display: none; } }
    .header .content__para {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
      animation: para-move 1s ease; }
      @media screen and (max-width: 1050px) {
        .header .content__para {
          font-size: 1.6rem; } }
      @media screen and (max-width: 770px) {
        .header .content__para {
          font-size: 1.5rem;
          margin-top: 2rem; } }

.main-section {
  background-color: #012F34;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-position: bottom right -10rem; }
  @media screen and (max-width: 1050px) {
    .main-section {
      background-position: bottom right -7.9rem;
      background-size: 16rem; } }
  @media screen and (max-width: 770px) {
    .main-section {
      background-position: top right -10rem;
      background-size: 20rem; } }
  .main-section__holder {
    display: flex;
    padding: 12rem 16.5rem 14rem; }
    @media screen and (max-width: 1130px) {
      .main-section__holder {
        display: flex;
        align-items: center; } }
    @media screen and (max-width: 1050px) {
      .main-section__holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media screen and (max-width: 770px) {
      .main-section__holder {
        padding: 12rem 10.5rem 10rem; } }
  .main-section .heading-wrapper {
    flex: 0 0 40%; }
    .main-section .heading-wrapper__dashed {
      width: 4.95rem;
      height: 0.35rem;
      background-color: #F67E7E;
      margin: 2rem 0; }
    .main-section .heading-wrapper__heading {
      font-size: 4.8rem;
      color: inherit;
      line-height: 4.8rem;
      margin-top: 5.5rem; }
      @media screen and (max-width: 770px) {
        .main-section .heading-wrapper__heading {
          font-size: 3.2rem;
          line-height: 3.2rem; } }
  .main-section .features-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 12.5rem;
    font-family: inherit; }
    @media screen and (max-width: 1050px) {
      .main-section .features-list {
        margin-left: 0; } }
    .main-section .features-list__feature {
      display: flex;
      align-items: flex-start; }
    .main-section .features-list__f1 {
      margin-top: 7.2rem; }
    .main-section .features-list__f2 {
      margin-top: 2.7rem; }
    .main-section .features-list__f3 {
      margin-top: 2.7rem; }
    .main-section .features-list .icon-person {
      margin: 0.55rem 2rem 0 0.75rem; }
    .main-section .features-list .icon-cog {
      margin: 0.55rem 1.9rem 0 0.1rem; }
    .main-section .features-list .icon-chart {
      margin: 0.55rem 1.9rem 0 0.1rem; }
    .main-section .features-list__content {
      margin-left: 0.37rem; }
    .main-section .features-list__heading {
      font-size: 1.8rem;
      color: #F67E7E;
      margin: 0.55rem 0; }
    .main-section .features-list__para {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: #FFF;
      margin-top: 1.6rem; }

.header-about {
  min-width: 144rem;
  height: 51.7rem;
  background-color: #014E56;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.about {
  padding: 12rem 16.6rem 18.15rem;
  display: flex;
  background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
  background-repeat: no-repeat;
  background-position: bottom 6.65rem right -10rem; }
  .about__heading {
    flex: 0 0 34.3%;
    font-size: 6.4rem;
    line-height: 10rem;
    animation: none; }
  .about__para-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-self: stretch; }
  .about__dashed {
    margin-bottom: 4rem;
    width: 4.95rem;
    height: 0.4rem;
    background-color: #F67E7E;
    animation: none; }
  .about__para {
    margin-bottom: 0.5rem;
    animation: none; }

.about-nav-btn {
  animation: none; }

#about-nav-logo, #about-nav-list, #about-nav-btn {
  animation: none; }

.directors {
  padding-top: 14rem;
  width: 144rem;
  height: 100.2rem;
  background-color: #004047;
  background-image: url("../images/bg-pattern-about-2-contact-1.svg"), url("../images/bg-pattern-home-4-about-3.svg");
  background-repeat: no-repeat;
  background-position: top left -10rem, bottom right; }
  .directors__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .directors__heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
    color: #FFF; }
  .directors__cards-holder {
    width: 111rem;
    height: 72.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem; }

.clients {
  width: 144rem;
  height: 43.7rem;
  background-color: #012F34;
  background-image: url("../images/bg-pattern-about-4.svg");
  background-repeat: no-repeat;
  background-position: top 0 left 0; }

.header-contact {
  min-width: 144rem;
  height: 79rem;
  background-color: #014E56;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/bg-pattern-contact-2.svg"), url("../images/bg-pattern-about-2-contact-1.svg");
  background-repeat: no-repeat;
  background-position: bottom 0.2rem right -10rem, top 24.5rem left -10rem; }

#contact-nav-logo, #contact-nav-list, #contact-nav-btn {
  animation: none; }

.contact {
  width: 111.2rem;
  height: 42.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem; }
  .contact .ask {
    width: 50%;
    height: 100%; }
    .contact .ask__heading {
      font-size: 6.4rem;
      margin-top: 3.6rem; }
    .contact .ask__heading-2 {
      font-size: 3.2rem;
      margin-top: 6.15rem; }
    .contact .ask__list {
      margin: 4.2rem 0 0 0.7rem; }
    .contact .ask__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: none; }
      .contact .ask__item:not(:last-child) {
        margin-bottom: 1rem; }
    .contact .ask__ico {
      margin-right: 2.3rem; }
  .contact__form-section {
    width: 50%;
    height: 100%; }
  .contact .form__group:not(:last-child) {
    margin-bottom: 1.5rem; }
  .contact .form__input {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-family: inherit;
    color: inherit;
    border-bottom: 1px solid #79C8C7;
    width: 90%;
    display: block;
    transition: all 0.3s; }
    .contact .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #7ed56f; }
    .contact .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .contact .form__input::-webkit-input-placeholder {
      color: #999; }
    .contact .form__input::placeholder {
      color: #79C8C7; }
  .contact .form__label {
    font-size: 1.4rem;
    font-weight: 300;
    margin-left: 1.5rem;
    display: block;
    transition: all 0.3s; }
  .contact .form .form-input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .contact .submit-btn {
    margin-right: 2rem;
    animation: none; }
  .contact .clear-btn {
    animation: none; }
