@keyframes button-move {
  0% {
    opacity: 0;
    transform: translateX(-140rem) translateY(-20rem) rotate(360deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes logo-move {
  0% {
    opacity: 0;
    transform: translateX(140rem) translateY(-20rem) rotate(360deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes lists-move {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  25% {
    transform: translateY(0); }
  50% {
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes heading-move {
  0% {
    opacity: 0;
    transform: translateX(140rem) translateY(50rem) rotate(360deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes para-move {
  0% {
    opacity: 0;
    transform: translateX(-140rem) translateY(50rem) rotate(360deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes dashed-move {
  0% {
    opacity: 0;
    transform: translateX(-70rem) translateY(-20rem); }
  25% {
    transform: translateX(-70rem) translateY(10rem) rotate(360deg); }
  50% {
    transform: translateX(-6rem) translateY(10rem) rotate(360deg); }
  75% {
    transform: translateX(0rem) translateY(0rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.btn {
  background-color: transparent;
  border-radius: 10rem;
  font-family: inherit;
  font-size: inherit;
  padding: 1.1rem 3.05rem;
  transition: all 0.2s;
  cursor: pointer;
  animation: button-move 1s linear; }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: translateY(2px); }

.btn-light {
  color: #FFF;
  border: 2px solid #FFF; }
  .btn-light:hover {
    background-color: #FFF;
    color: #002529; }

.btn-dark {
  color: #012F34;
  border: 2px solid #012F34;
  animation: none; }
  .btn-dark:hover {
    background-color: #012F34;
    color: #FFF; }

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 111rem;
  height: 4.8rem;
  margin-top: 7.3rem; }
  .user-nav .logo {
    width: 15.995rem;
    height: 4rem;
    animation: logo-move 1s linear;
    cursor: pointer; }
  .user-nav .nav-list {
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 8rem;
    animation: lists-move 1.5s ease-out 1s;
    animation-fill-mode: backwards; }
    .user-nav .nav-list__item:not(:last-child) {
      margin-right: 4.1rem; }
    .user-nav .nav-list__item {
      transition: transform 0.2s; }
      .user-nav .nav-list__item:hover {
        color: #F67E7E;
        box-shadow: 0 1rem 2rem rgba(0, 37, 41, 0.4);
        transform: rotate(-5deg) scale(1.15); }
    .user-nav .nav-list__link {
      text-decoration: none;
      color: inherit;
      background-color: #014E56; }

.content {
  padding: 12.9rem 16.6rem 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/bg-pattern-home-1.svg"), url("../images/bg-pattern-home-2.svg");
  background-repeat: no-repeat;
  background-position: top 12.9rem left -9.9rem, bottom right 16.45rem; }
  .content__heading {
    flex: 0 0 60%;
    font-size: 10rem;
    line-height: 10rem;
    animation: heading-move 1s ease; }
  .content__heading-coral {
    color: #F67E7E; }
  .content__para-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-self: stretch; }
  .content__dashed {
    width: 4.95rem;
    height: 0.35rem;
    background-color: #79C8C7;
    animation: dashed-move 3s ease;
    animation-fill-mode: backwards; }
  .content__para {
    margin-bottom: 0.5rem;
    animation: para-move 1s ease; }

.heading-wrapper {
  flex: 0 0 40%; }
  .heading-wrapper__dashed {
    width: 4.95rem;
    height: 0.35rem;
    background-color: #F67E7E;
    margin: 2rem 0; }
  .heading-wrapper__heading {
    font-size: 4.8rem;
    color: inherit;
    line-height: 4.8rem;
    margin-top: 5.5rem; }

.features-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 12.5rem;
  font-family: inherit; }
  .features-list__feature {
    display: flex;
    align-items: flex-start; }
  .features-list__f1 {
    margin-top: 7.2rem; }
  .features-list__f2 {
    margin-top: 2.7rem; }
  .features-list__f3 {
    margin-top: 2.7rem; }
  .features-list .icon-person {
    margin: 0.55rem 2rem 0 0.75rem; }
  .features-list .icon-cog {
    margin: 0.55rem 1.9rem 0 0.1rem; }
  .features-list .icon-chart {
    margin: 0.55rem 1.9rem 0 0.1rem; }
  .features-list__content {
    margin-left: 0.37rem; }
  .features-list__heading {
    font-size: 1.8rem;
    color: #F67E7E;
    margin: 0.55rem 0; }
  .features-list__para {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #FFF;
    margin-top: 1.6rem; }

.wrapper {
  text-align: center;
  padding: 21rem 16.5rem 22rem 16rem; }
  .wrapper__heading {
    font-size: 4.8rem;
    line-height: 4.8rem; }
  .wrapper .s-stories {
    color: #79C8C7; }
  .wrapper__cards-holder {
    display: flex;
    justify-content: space-between;
    padding-top: 9.25rem; }
  .wrapper__quotes {
    font-size: 1.5rem;
    line-height: 2.5rem; }
  .wrapper__names {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #79C8C7;
    margin-top: 2.4rem; }
  .wrapper__designation {
    font-size: 1.27rem;
    line-height: 1.8rem;
    color: #FFF;
    margin: 0.25rem 0 1rem 0.2rem; }
  .wrapper__user {
    display: block;
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #C4FFFE;
    margin: 2rem auto;
    transition: all 0.5s;
    cursor: pointer; }
    .wrapper__user:hover {
      transform: scale(1.2) rotate(360deg);
      box-shadow: 0 1rem 5rem rgba(196, 255, 254, 0.4); }

.cta-box {
  display: flex;
  margin: auto; }
  .cta-box__heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
    color: #012F34;
    margin-right: 26rem; }

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 4.8rem 16.5rem 5rem 16.45rem; }
  .footer-container__logo-box {
    display: flex;
    flex-direction: column;
    margin-right: 12.5rem; }
  .footer-container__logo {
    cursor: pointer;
    margin-bottom: 2.5rem; }
  .footer-container .footer-list {
    list-style: none;
    display: flex; }
    .footer-container .footer-list__item:not(:last-child) {
      margin-right: 4rem; }
    .footer-container .footer-list__item {
      transition: transform 0.2s; }
      .footer-container .footer-list__item:hover {
        color: #F67E7E;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        transform: rotate(5deg) scale(1.1); }
    .footer-container .footer-list__link {
      text-decoration: none;
      color: inherit;
      background-color: #002529; }
  .footer-container__address {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-right: auto; }
  .footer-container__social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .footer-container__socialicons {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-container__socialicons .icons {
      font-size: 2.5rem;
      color: #FFF;
      text-decoration: none;
      transition: all .3s; }
      .footer-container__socialicons .icons:hover {
        color: #F67E7E;
        transform: rotate(360deg) scale(1.1); }
    .footer-container__socialicons .icons:not(:last-child) {
      margin-right: 1.6rem; }
  .footer-container__copy {
    font-size: 1.5rem;
    line-height: 2.5rem; }

.container {
  width: 94.7%;
  margin: 0 auto; }

.header {
  min-width: 144rem;
  height: 70rem;
  background-color: #014E56;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.main-section {
  min-width: 144rem;
  height: 68.4rem;
  background-color: #012F34;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-position: bottom right -10rem; }
  .main-section__holder {
    display: flex;
    width: 111rem;
    height: 44.4rem; }

.stories {
  min-width: 144rem;
  height: 74.5rem;
  background-color: #004047;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-home-4-about-3.svg"), url("../images/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right; }

.cta {
  min-width: 144rem;
  height: 20rem;
  background-color: #F67E7E;
  display: flex; }

.footer {
  min-width: 144rem;
  height: 19.6rem;
  background-color: #002529; }

body {
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #FFF;
  line-height: 2.8rem; }
