.container {
  width: 94.7%;
  margin: 0 auto;
}

.header {
  min-width: 144rem;
  height: 70rem;
  background-color: $color-primary-green;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-section {
  width: 144rem;
  height: 68.4rem;
  background-color: $color-secondary-dark-green-2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-position: bottom right -10rem;

  &__holder {
    display: flex;
    width: 111rem;
    height: 44.4rem;
  }
}
