.container {
  width: 94.8%;
  margin: 0 auto;
}

.header {
  min-width: 144rem;
  height: 70rem;
  background-color: $color-primary-green;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.middle-section {
  width: 144rem;
  height: 68.4rem;
  background-color: $color-secondary-dark-green-2;
}
