.container {
  width: 94.8%;
  margin: 0 auto;
}

.header {
  min-width: 144rem;
  height: 70rem;
  background-color: $color-primary-green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 111rem;
    height: 4.8rem;
    margin-top: 7.3rem;
  }
}
