// Variables for colors

$color-primary-green: #014E56;
$color-primary-coral: #F67E7E;
$color-primary-white: #FFF;

$color-secondary-light-blue: #79C8C7;
$color-secondary-dark-blue: #2C6269;
$color-secondary-dark-green-1: #004047;
$color-secondary-dark-green-2: #012F34;
$color-secondary-dark-green-3: #002529;


// Typography

$heading-primary-large: 10rem;
$heading-primary-small: 6.4rem;
$heading-secondary: 4.8rem;
$heading-tertiary: 1.8rem;
