//###################################################//
// CTA-SECTION //
// #################################################//

.cta {
  // min-width: 144rem;
  // height: 20rem;
  background-color: $color-primary-coral;
  display: flex;
  background-image: url('../images/bg-pattern-home-6-about-5.svg');
  background-repeat: no-repeat;
  background-position: left 0 bottom -2rem;
  background-size: 20rem;

  .cta-box {
    display: flex;
    margin: auto;
    padding: 7.6rem 0 7.47rem 0.4rem;

    @media screen and (max-width: 1050px){
      padding: 8rem 0 8rem 0.4rem;
    }

    @media screen and (max-width: 770px){
      display: flex;
      justify-content: space-between;
    }

    @media screen and (max-width: 560px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__heading {
      font-size: $heading-secondary;
      line-height: $heading-secondary-line-height;
      color: $color-secondary-dark-green-2;
      margin-right: 26rem;

      @media screen and (max-width: 1050px){
        margin-right: 10rem;
        font-size: 4.4rem;
      }

      @media screen and (max-width: 770px) {
        font-size: 3.2rem;
        margin-right: 2rem;
      }

      @media screen and (max-width: 560px) {
        font-size: 3.2rem;
        margin-bottom: 4rem;
        margin-right: 0;
        text-align: center;
      }
    }
  }

  .cta-btn {
    padding: 0.8rem 3.1rem;

    @media screen and (max-width: 770px) {
      padding: 0.8rem 2.1rem;
    }
  }
}
