.container {
  width: 94.7%;
  // width: 100%;
  margin: 0 auto;
}

.header {
  min-width: 144rem;
  height: 70rem;
  background-color: $color-primary-green;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-section {
  min-width: 144rem;
  height: 68.4rem;
  background-color: $color-secondary-dark-green-2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-position: bottom right -10rem;

  &__holder {
    display: flex;
    width: 111rem;
    height: 44.4rem;
  }
}

.stories {
  min-width: 144rem;
  height: 74.5rem;
  background-color: $color-secondary-dark-green-1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-home-4-about-3.svg"), url("../images/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.cta {
  min-width: 144rem;
  height: 20rem;
  background-color: $color-primary-coral;
  display: flex;
}

.footer {
  min-width: 144rem;
  height: 19.6rem;
  background-color: $color-secondary-dark-green-3;
}
