.ham-menu {
  z-index: 1;
  position: fixed;
  right: -50rem;
  width: 35rem;
  height: 100vh;
  background-color: $color-secondary-dark-blue;
  background-image: url('../images/bg-pattern-about-1-mobile-nav-1.svg');
  background-repeat: no-repeat;
  background-position: bottom 0 right -10rem;
  transition: transform .4s cubic-bezier(1, 0, 0, 1);
  border-left: 2px dotted $color-primary-coral;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__close {
    margin: 5rem 0 2.5rem 70%;
    cursor: pointer;
  }

  @media screen and (max-width: 560px) {
    width: 60%;
  }

  @media screen and (max-width: 400px) {
    width: 70%;
  }
}

.ham-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-right: auto;

  &__item:not(:last-child) {
    margin-right: 4.1rem;
  }

  &__item {
    transition: transform 0.2s;
    margin-bottom: 2rem;

    &:hover {
      color: $color-primary-coral;
      transform: rotate(-5deg) scale(1.15);
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    background-color: $color-secondary-dark-blue;
  }
}

.ham-btn {
  @media screen and (max-width: 560px) {
    display: inline-block;
    animation: none;
    margin-top: 2rem;
    padding: .7rem 3.5rem;
  }
}

// style-class

.ham-open {
  transform: translateX(-50rem);
}