//###################################################//
// STORIES-SECTION //
// #################################################//

.stories {
  // min-width: 144rem;
  // height: 74.5rem;
  background-color: $color-secondary-dark-green-1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-home-4-about-3.svg"), url("../images/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;

  .wrapper {
    text-align: center;
    padding: 14rem 16rem 14.4rem;
    
    @media screen and (max-width: 1130px) {
      padding: 12rem 10rem 0 10rem;
    }

    @media screen and (max-width: 560px) {
      padding: 12rem 1.5rem 0 1.5rem;
    }

    &__heading {
      font-size: $heading-secondary;
      line-height: $heading-secondary-line-height;
      @media screen and (max-width: 1050px) {
        font-size: 4.4rem;
      }

      @media screen and (max-width: 770px) {
        font-size: 3.2rem;
      }
    }

    &__cards {
      background-image: url("../images/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: top;

      &:not(:lastChild) {
       margin-right: 4rem;
      }

      @media screen and (max-width: 1050px) {
        margin-bottom: 2rem;
      }

      @media screen and (max-width: 560px) {
        margin-bottom: 3rem;
      }
    }

    .s-stories {
      color: $color-secondary-light-blue;
    }

    &__cards-holder {
      display: flex;
      justify-content: space-between;
      padding-top: 9.25rem;
      @media screen and (max-width: 1050px) {
        display: flex;
        flex-wrap: wrap;
        padding: 9rem 10rem;
      }

      @media screen and (max-width: 770px) {
        padding: 9rem 0;
      }

      @media screen and (max-width: 560px) {
        margin-right: 0;
        padding: 9rem 0 7rem;
      }
    }

    &__quotes {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    &__names {
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: $color-secondary-light-blue;
      margin-top: 2.4rem;
    }

    &__designation {
      font-size: 1.27rem;
      line-height: 1.8rem;
      color: $color-primary-white;
      margin: 0.25rem 0 1rem 0.2rem;
    }

    &__user {
      display: block;
      width: 6.2rem;
      height: 6.2rem;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid $color-secondary-light-blue-2;
      margin: 2rem auto;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        transform: scale(1.2) rotate(360deg);
        box-shadow: 0 1rem 5rem rgba($color-secondary-light-blue-2, .4);
      }
    }
  }
}
