//###################################################//
// HOMEPAGE-HEADER //
// #################################################//

.header {
  // min-width: 144rem;
  // height: 70rem;
  background-color: $color-primary-green;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  .content {
    padding: 12.9rem 16.6rem 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/bg-pattern-home-1.svg'), url("../images/bg-pattern-home-2.svg");
    background-repeat: no-repeat;
    background-position: top 12.9rem left -9.9rem, bottom right 16.45rem;

    @media screen and (max-width: 1130px) {
      padding: 12.9rem 10rem 25rem;
    }

    @media screen and (max-width: 1050px) {
      background-position: top 5rem left -8rem, bottom right 8rem;
      background-size: 15rem, 27rem;
      padding: 12.9rem 8rem 18rem;
    }

    @media screen and (max-width: 770px) {
      display: flex;
      flex-direction: column;

      background-image: url("../images/bg-pattern-home-2.svg");
      background-repeat: no-repeat;
      background-size: 35.8rem;
      background-position: bottom right 16.45rem;
    }

    @media screen and (max-width: 560px) {
      padding: 8rem 1rem 10rem;

      background-image: url("../images/bg-pattern-home-2.svg");
      background-repeat: no-repeat;
      background-position: bottom center;
    }

    &__heading {
      flex: 0 0 60%;
      font-size: $heading-primary-large;
      line-height: $heading-primary-line-height;
      // animation: heading-move 1s ease;

      @media screen and (max-width: 1050px) {
        font-size: 8rem;
      }

      @media screen and (max-width: 770px) {
        font-size: 6.4rem;
        text-align: center;
        line-height: 5.6rem;
      }

      @media screen and (max-width: 560px) {
        font-size: 4rem;
      }
    }

    &__heading-coral {
      color: $color-primary-coral;
    }

    &__para-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      align-self: stretch;

      @media screen and (max-width: 1050px) {
        justify-content: center;
      }

      @media screen and (max-width: 770px) {
        text-align: center;
        padding: 0 4rem;
      }

      @media screen and (max-width: 560px) {
        padding: 0 1rem 15rem;
      }
    }

    &__dashed {
      width: 4.95rem;
      height: 0.35rem;
      background-color: $color-secondary-light-blue;
      // animation: dashed-move 3s ease;
      // animation-fill-mode: backwards;

      @media screen and (max-width: 1050px) {
        margin-bottom: 5rem;
      }

      @media screen and (max-width: 770px) {
        display: none;
      }
    }

    &__para {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
      // animation: para-move 1s ease;

      @media screen and (max-width: 1050px) {
        font-size: 1.6rem;
      }

      @media screen and (max-width: 770px) {
        font-size: 1.5rem;
        margin-top: 2rem;
      }
    }
  }
}

//###################################################//
// MAIN-SECTION //
// #################################################//

.main-section {
  // min-width: 144rem;
  // height: 68.4rem;
  background-color: $color-secondary-dark-green-2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-position: bottom right -10rem;

  @media screen and (max-width: 1050px) {
    background-position: bottom right -7.9rem;
    background-size: 16rem;
  }

  @media screen and (max-width: 770px) {
    background-position: top right -10rem;
    background-size: 20rem;
  }

  &__holder {
    display: flex;
    padding: 12rem 16.5rem 14rem;

    // width: 111rem;
    // height: 44.4rem;
    @media screen and (max-width: 1130px) {
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: 1050px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 770px) {
      padding: 12rem 10.5rem 10rem;
    }

    @media screen and (max-width: 560px) {
      padding: 5rem 1.5rem 10rem;
    }

  }

  .heading-wrapper {
    flex: 0 0 40%;

    &__dashed {
      width: 4.95rem;
      height: 0.35rem;
      background-color: $color-primary-coral;
      margin: 2rem 0;
    }

    &__heading {
      font-size: $heading-secondary;
      color: inherit;
      line-height: $heading-secondary-line-height;
      margin-top: 5.5rem;

      @media screen and (max-width: 770px) {
        font-size: 3.2rem;
        line-height: 3.2rem;
      }
    }

    @media screen and (max-width: 560px) {
      padding-right: 5rem;
    }
  }

  .features-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 12.5rem;
    font-family: inherit;

    @media screen and (max-width: 1050px) {
      margin-left: 0;
    }

    &__feature {
      display: flex;
      align-items: flex-start;

      @media screen and (max-width: 560px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    &__f1 {
      margin-top: 7.2rem;
    }

    &__f2 {
      margin-top: 2.7rem;
    }

    &__f3 {
      margin-top: 2.7rem;
    }

    .icon-person {
      margin: 0.55rem 2rem 0 0.75rem;
    }

    .icon-cog {
      margin: 0.55rem 1.9rem 0 0.1rem;
    }

    .icon-chart {
      margin: 0.55rem 1.9rem 0 0.1rem;
    }

    &__content {
      margin-left: 0.37rem;
    }

    &__heading {
      font-size: $heading-tertiary;
      color: $color-primary-coral;
      margin: 0.55rem 0;
    }

    &__para {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: $color-primary-white;
      margin-top: 1.6rem;
    }
  }
}